form{
    border: solid 1px;
    width: 700px;
    margin-left: 340px;
    background-color: blanchedalmond;
    padding-left: 50px;

}
h1{
    text-align: center;
    color: rgb(5, 47, 88);
}
label{
    font-weight: 900;
}
p{
    font-weight: bold;
    color: brown;
}
input{
    height: 30px;
    width: 500px;
}
textarea{
    width: 400px;
    height: 80px;
}
button{
    height: 40px;
    width: 100px;
    background-color: rgb(199, 163, 198);
    color: black;
    border-radius: 20px;
    font-size: medium;
}
